/*Обнуление*/
*,*:before,:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
    letter-spacing: none;
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

/* ------------------------------------------------------------------- */
html,
body {
    height: 100%;       /* прижимаем футер КНИЗУ */

    line-height: 1;
    font-size: 16px;
    color: #000;
}
/* ------------------------------------------------------------------- */

/* -------------------------оболочка для демонстрации----------------- */
.wrapper {
    min-height: 100%;         /* прижимаем футер КНИЗУ */
    display: flex;         /* прижимаем футер КНИЗУ */
    flex-direction: column; /* прижимаем футер КНИЗУ */
    overflow: hidden;
}

/* -------------------------ТЕНИЧЕСКИЕ КЛАССЫ----------------- */
._conteiner { /* общий ограничиваюий контейнер */
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 20px;
}
._ibg { /* для всех используемых ibg */
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}/* -------------------------ТЕНИЧЕСКИЕ КЛАССЫ----------------- */

/* -------------------------основные стили------------------------ */

.header {
    position: fixed; /* Наша ШАПКА - HEADER будет ФИКСИРОВАННОЙ, т.е.при скроле она всеглда будет сверху кнотента */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;/* делаем большой z-index ЧТОБЫ поверх контента была шапка*/
}

/* --------------------создаем ПЛАШКУ РОЗОВОГО ЦВЕТА----------------------*/
.header:before {/* создаем ПЛАШКУ */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* т.е. на ВЕСЬ РАЗМЕР НАШЕЙ ШАПОЧКИ */
    background-color: rgb(238, 33, 33);
    z-index: 2;
}
._conteiner { /* теперь ОГРАНИЧИМ по ШИРИНЕ КОНТЕНТ */
    max-width: 1140px; /* получилось */
    margin: 0 auto; /* получилось */
    padding: 0px 20px; /* получилось */
}
.header__body { /* теперь нам нужно ВЫТАЩИТЬ ВЕСЬ КОНТЕНТ НАВЕРХ из под ШАПКИ */
    position: relative;
    z-index: 2;
    height: 80px; /* ВЫСОТА ШАПКИ header */

    /* теперь продолжаем работать с ШАПКОЙ, после того как в conteiner - ОГРАНИЧИЛИ по ШИРИНЕ КОНТЕНТ */
    display: flex; /* ЗаДАЛИ flex что бы РАЗБРОСАТЬ по СТОРОНАМ лого и пункты меню */
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 30px;
    /*font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-family: 'Great Vibes', cursive;
    font-weight: 900;
    text-shadow: 1px 0px 0px rgb(42, 41, 42);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_logo:hover {
    cursor: pointer;
    transition: 0.8s;
}
.span-FIT { /*  задаем ЦВЕТ ИМЕННО  span */
    color: #100f10;
}
.header_logo a { /* задаем ЦВЕТ ИМЕННО ЛОГО */
    color: #9c9a9c;
    font-weight: 900;
}
/* ----img---- */
.header_logo-img { /* а размер ДЛЯ НАШЕЙ КАРТИНКИ мы укажем 60рх */
    flex: 0 0 60px; /* КАРТИНКА сама по размеру 200рх */
    /*border-radius:60%; /* делаем картинку КРУГЛОЙ */
    overflow: hidden;
    /* если у КАРТИНКИ есть ПОДРЕЗАНИЕ - пишем в header__logo img - DISPLAY: BLOCK */
    margin: 0px 0px 0px 20px;/* сдвинули картинку -лого вправо */
}
.header_logo-img img { /* если вдруг ДРУГАЯ КАРТИНКА будет БОЛЬШЕ, то чтобы потом подстроилась под НАШ РАЗМЕР */
    max-width: 100%;
    /*display: block;*/
}

/* --------------------------------------------------ПЕРЕХОДИМ К верстке самих ПУНКТОВ МЕНЮ---------------------------------- */
.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}

.menu_header_link { /* все ссылки отступы */
    /*padding: 0px 0px 0px 10px;*/
    list-style: none; /* убираем ТОЧКИ перед ПУНКАМИ МЕНЮ */ /* получилось */
    margin: 0px 0px 0px 20px; /* получилось */
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px; /* если сделать шрифт меньше, СКРОЛА не будет */

    /* ---------------------------------------------------ДЕЛАЕМ интересное подчеркивание пунктов меню-------------------------------------- */
    background: linear-gradient(rgb(253, 251, 247) 0 0) bottom/var(--t,0) 2px no-repeat;
    transition: 0.5s; /* плавный переход-анимация */
}
    /* что бы заработало добавляем HOVER --t: */
    .menu_header_link:hover {
    --t: 100%;
}

.menu_header_link1 {  /* задаем всем ссылкам размер, шрифт, цвет */
    font-size: 18px;
    color: #faf6f6;
}
.menu_header_link1:hover {
    color: #98989a;
    transition: 0.7s;
} 
.link_vip { /* -------------------выделяем отдельно ссылку в меню -----------------  */
    color: #212121;
}
.link_vip:hover {
    color: #eaedf6;
    cursor: pointer;
    transition: 0.7s;
}


 /* --------------------------------------------------переходим к верстке БУРГЕР-МЕНЮ--------------------------------- */
.header__burger {
    display: none;
}
.header__menu {
}



/* --------------------------------------------------ПЕРЕХОДИМ К верстке Медиа-Запрос для 767px-экранов---------------------------------- */

/* будет выскакивать БУРГЕР-МЕНЮ при уменьшеении ЭКРАНОВ  */

@media (max-width:767px) {
    .header__body { /* уменьшаем ВЫСОТУ ШАПКИ header  */
        height: 50px;
    }
    .header__logo { /* уменьшаем размер ЛОГО-фото */
        flex: 0 0 40px;
    }
    /* это будет бургер меню */
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    } 

    /* --------------------------здесь мы РИСУЕМ ПОЛОСОЧКИ БУРГЕР */ /* общие настройки-------------------------- */
    .header__burger:before,
    .header__burger:after {
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s; /* теперь переходят плавно полосочки */
    }

    /* --------------------------здесь мы РИСУЕМ Верхнюю ПОЛОСУ БУРГЕР-------------------------- */
    .header__burger:before {
        top: 0;  
    }
     /* --------------------------здесь мы РИСУЕМ Нижнюю ПОЛОСУ БУРГЕР-------------------------- */
    .header__burger:after {
        bottom: 0;  
    }
     /* --------------------------здесь мы РИСУЕМ СРЕДНЮЮ ПОЛОСУ БУРГЕР--------------------------- */
    .header__burger span {
        position: absolute;
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s; /* теперь переходят плавно полосочки */
    }

    .header__burger.active:before {
        transform: rotate(45deg); /* делаем палочку теперь на 45`,т.е.она стала по диагонале */
        top: 9px; /* теперь подняли ее на центр */
    }
    .header__burger.active:after {
        transform: rotate(-45deg); /* делаем палочку теперь на 45`,т.е.она стала по диагонале */
        bottom: 9px; /* теперь подняли ее на центр */
    }
    .header__burger.active span {
        transform: scale(0); /* убираем среднюю полосочку */
    }
    /* --------------------------здесь мы Закончили РИСОВАТЬ - БУРГЕ-------------------------- */



    /* -----------------теперь стилизуем МЕНЮ----------------- */
    .header__menu {
        /* Делаем ПЛАСТИНУ которая будет ВЫЕЗЖАТЬ для пунктов меню */
        position: fixed;
        top: -100%; /* меню будет сьезжать сверху */
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto; /* будет скрол при повороте экрана телефона */
        transition: all 0.3s ease 0s; /* теперь переходит плавно */    
        background-color: #8043f0; 
        padding: 70px 10px 20px 10px; /* пункты меню вытащили из розовой плашки в РЯД */
    }
    .header__menu.active {
        top: 0;
    }

    .header__list {
        display: block; /* меню пункты встали в КОЛОНКУ */
        text-align: center;
    }
    .header__list li { /* теперь сделали отступы между строчками меню в колонке */
        margin: 0px 0px 20px 0px;
    }

    .header__list li {
    font-size: 27px; /* сделали шрифт больше (с 20рх на 27рх), для СКРОЛА телефонов в горизонтальном положении!*/
    }
/* -----------------теперь стилизуем МЕНЮ----------------- */

}
.main {
    flex: 1 1 auto; /* прижимаем ФУТЕР к низу */
}



/* ======================================section_UP============================================ */
.section_UP {
    background-color: #0d0c0c;
}
.BLOCK-UP {
    padding: 50px 0px 0px 0px;
}
@media (max-width:767px) {
    .BLOCK-UP{
        padding: 45px 0px 50px 0px;
    }   
}
@media (max-width:530px) {
    .BLOCK-UP{
        padding: 15px 0px 50px 0px;
    }  
}
.section_UP-FOTO {
    margin-top: -80px;
        position: relative; /* фото на весь блок */
        padding: 0px 0px 40% 0px;
}
.section_UP-FOTO img/* фото на весь блок */ {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
/* --------ibg------ */
.ibg {
    position: relative;
}
.ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}
/* --------ibg------ */


.section_UP_conteiner {
}
.section_UP-TEXT-TOP {

}
.section_UP-TEXT {
    position: relative;
    z-index: 3;
}
.section_UP-TEXT >*:not(:last-child) {
    padding: 80px 0px 0px 0px;
}

.header_logo3 {
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    text-shadow: 2px 0px 0px rgb(42, 41, 42);

    display: flex;
    justify-content: left;
    align-items: center;
}
@media (max-width:900px) {
    .header_logo3 {
        flex: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }   
}
.header_logo3 img {
    filter: contrast(50%);
}
.header_logo3:hover img{
    cursor: pointer;
    rotate: -360deg;
    filter: contrast(50%);
    transition: 0.8s;
}

.span-FITt {
    color: #f80f0f;
}
.span-FITt:hover {
    color: #f0eeee;
    cursor: pointer;
    text-shadow: 2px 0 0 red;
    transition: 0.8s;
}
.header_logo3 a { /* задаем ЦВЕТ ИМЕННО ЛОГО */
    color: #9c9a9c;
    font-weight: 900;
}

/* ----img---- */
.header_logo-imgt { /* а размер ДЛЯ НАШЕЙ КАРТИНКИ мы укажем 60рх */
    flex: 0 0 40px; /* КАРТИНКА сама по размеру 200рх */
    overflow: hidden;
    /* если у КАРТИНКИ есть ПОДРЕЗАНИЕ - пишем в header__logo img - DISPLAY: BLOCK */
    margin: 0px 0px 0px 30px;/* сдвинули картинку -лого вправо */
}
.header_logo-imgt img { /* если вдруг ДРУГАЯ КАРТИНКА будет БОЛЬШЕ, то чтобы потом подстроилась под НАШ РАЗМЕР */
    max-width: 100%;
    /*display: block;*/
}

.section_UP-TEXT-TOP {
    display: flex;
    justify-content: space-between;
}
@media (max-width:900px) {
    .section_UP-TEXT-TOP {
        flex-wrap: wrap;
    }   
}
@media (max-width:900px) {
    .section_UP-TEXT-TOP >*:not(:last-child) {
        padding: 0px 0px 30px 0px;
    }   
}
.section_UP-TITLE {
    text-align: right;
    font-size: 20px;
    color: #fff7f7;
    text-shadow: 4px 0 0 #100f10;

    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:900px) {
    .section_UP-TITLE {
        flex: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
       /* border:  1px solid #f0eeee;*/
    }   
}
@media (max-width:600px) {
    .section_UP-TITLE {
         line-height: 160%;
        
        /*border:  1px solid #f0eeee;*/
    }   
}
.section_UP-SUBTITLE /* найсмачниши */ {
    margin: 30px 0 20px 0;
    text-align: center;
    font-weight: 800;
    font-size: 55px;
    line-height: 170%;
    color: #fff7f7;
    font-family: 'Great Vibes', cursive;

    text-shadow: 2px 0 0 #25201f;
}
@media (max-width:1200px) {
    .section_UP-SUBTITLE {
        margin: 30px 0 35px 0;
    }    
}
@media (max-width:992px) {
    .section_UP-SUBTITLE {
        font-size: 40px;
    }    
}
@media (max-width:767px) {
    .section_UP-SUBTITLE {
        font-size: 30px;
        line-height: 200%;
        margin: 20px 0 15px 0;
    }    
}
@media (max-width:530px) {
    .section_UP-SUBTITLE {
        font-size: 30px;
        line-height: 170%;
        margin: 30px 0 25px 0;
    }    
}
@media (max-width:500px) {
    .section_UP-SUBTITLE {
        font-size: 27px;
        line-height: 160%;
        font-size: 20px;
    }    
}
/* ======================================section_UP============================================ */




/* ======================================section_pizza============================================ */


.section_pizza {
    padding: 150px 0px 50px 0px;
}
.BLOCK-ection_pizza {
}
.ection_pizza_conteiner {
}
._conteiner {
}


.section_pizza_text-center {
    display: flex;
    justify-content: center;

    font-size: 30px;
    color: #000;
    text-align: center;
    font-weight: 900;
    letter-spacing: 1px;
    font-family: 'Great Vibes', cursive;
}
.section_pizza-ROW {
    padding: 50px 0px 0px 0px;
}

.section_pizza-COLUMNS {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

   /* border: 1px solid #8043f0;*/
}
.section_pizza-COLUMN {
    padding: 20px;
    flex: 0 1 33.333%;
    padding: 0 15px;

    /*border: 1px solid #8043f0;*/
}
@media (max-width:1100px) {
    .section_pizza-COLUMN {
        flex: 0 1 50%;
        padding: 20px 20px;
    }
}
@media (max-width:767px) {
    .section_pizza-COLUMN {
        flex: 0 1 100%;
        padding: 20px 20px;
    }
}


/* картинка закуски */
.section_pizza-FOTO {
    position: relative;
    padding: 0px 0px 55% 0px;

    flex: 0 1 50%;

   /* border: 1px solid #df1e01;*/
}
.section_pizza-FOTO img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.section_pizza-FOTOr {
    position: relative;
    padding: 0px 0px 70% 0px;

    flex: 0 1 50%;
}
.section_pizza-FOTOr:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: 0.8s;
}
.section_pizza-FOTOr  img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
._ibg5 {    
    position: relative;
}
._ibg5 img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* картинка закуски */
.section_pizza-FOTO:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: 0.8s;
}

.section_pizza-TEXT {
    padding:  20px 0px 0px 0px;
}
.section_pizza-TEXT >*:not(:last-child){
    padding: 0px 0px 15px 0px;
}

.section_pizza-TITLE {
    font-size: 20px;
    text-align: left;
    font-weight: 600;
}
@media (max-width:360px) {
    .section_pizza-TITLE {
        font-size: 16px;
    }
}

.section_pizza-PRICE {
    font-size: 20px;
    text-align: left;
    font-weight: 600;
    text-decoration: underline;
}
.section_pizza_1-290g {
    font-size: 20px;
    text-align: left;
    font-weight: 600;
    color: #8c8b8b;
}
.section_pizza-SUBTITLE {
    line-height: 130%;
    font-size: 16px;
    text-align: left;
    color: #121212;
    font-weight: 600;
    margin-bottom: 10px;
}


.Text-box_V-KOSHIK {
    background-color: #ff3434;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    padding: 5px 30px;

    display: inline-block;  
    border-radius: 30px;
}
.Text-box_V-KOSHIK a {
    color: inherit;

}
.Text-box_V-KOSHIK:hover {
    background-color: #e0e0e0;
    cursor: pointer;
    color: #f80f0f;
    border: 1px solid #212121;
    transition: 0.8s;
}

/* ======================================section_pizza============================================ */




/* ==================================footer====================================== */
.footer {
    background-color: #f91d1d;
    width: 100%;
    padding: 20px 0px 30px 0px;
}
.footer_conteiner {
}
._conteiner {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
.Foter_COLUMS {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    /*border:1px solid  #faf6f6;*/
}
.Footer_COLUMN1 {
    flex: 0 1 33.333%;
    padding: 0 15px;
   /* border:1px solid  #faf6f6;*/
}
@media (max-width:992px) {
    .Footer_COLUMN1 {
        flex: 0 1 50%;
        padding: 0px 0px 20px 0px;
    }
}
@media (max-width:767px) {
    .Footer_COLUMN1 {
        flex: 0 1 100%;
    }
}
.Footer_TITLE {
    display: flex;
    justify-content: left;
    align-items: center;

    font-size: 15px;
    font-weight: 600;
    line-height: 160%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header_logo2 {
    font-size: 20px;
    font-family: 'Great Vibes', cursive;    font-weight: 900;
    text-shadow: 1px 0px 0px rgb(42, 41, 42);

    display: flex;
    justify-content: left;
    align-items: center;
}
.header_logo2:hover img{
    cursor: pointer;
    rotate: -360deg;
    filter: contrast(50%);
    transition: 0.8s;
}
.span-FIT { /*  задаем ЦВЕТ ИМЕННО  span */
    color: #100f10;
}
.header_logo2 a { /* задаем ЦВЕТ ИМЕННО ЛОГО */
    color: #9c9a9c;
    font-weight: 900;
}
/* ----img---- */
.header_logo-img { /* а размер ДЛЯ НАШЕЙ КАРТИНКИ мы укажем 60рх */
    flex: 0 0 40px; /* КАРТИНКА сама по размеру 200рх */
    overflow: hidden;
    /* если у КАРТИНКИ есть ПОДРЕЗАНИЕ - пишем в header__logo img - DISPLAY: BLOCK */
    margin: 0px 0px 0px 30px;/* сдвинули картинку -лого вправо */
}
.header_logo-img img { /* если вдруг ДРУГАЯ КАРТИНКА будет БОЛЬШЕ, то чтобы потом подстроилась под НАШ РАЗМЕР */
    max-width: 100%;
    /*display: block;*/
}


.Footer_COLUMN2 {
    flex: 0 1 25.5%;
    padding: 0 15px;
   /* border:1px solid  #faf6f6;*/
}
@media (max-width:992px) {
    .Footer_COLUMN2 {
        flex: 0 1 50%;
        padding: 0px 0px 20px 0px;
    }
}
@media (max-width:767px) {
    .Footer_COLUMN2 {
        flex: 0 1 100%;
    }
}
.Footer_ICONS {
    display: flex;
    justify-content: left;
    align-items: center;

}
.header_logo-imgF {
    flex: 0 0 30px; /* КАРТИНКА сама по размеру 200рх */
    overflow: hidden;
    margin: 0px 10px 0px 0px;/* сдвинули картинку -лого вправо */
}
.header_logo-imgF {
    max-width: 100%;
}
.header_logo-imgF:hover {
    cursor: pointer;
    filter: contrast(50%);
    rotate: -360deg;
    transition: 0.8s;
}

.Footer_TEXT {
    display: flex;
    justify-content: left;
    align-items: center;

    font-size: 15px;
    font-weight: 600;
    line-height: 160%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Footer_COLUMN3 {
    flex: 0 1 20%;
    padding: 0 15px;
   /* border:1px solid  #faf6f6;*/
}
@media (max-width:992px) {
    .Footer_COLUMN3 {
        flex: 0 1 50%;
        padding: 0px 0px 20px 0px;
    }
}
@media (max-width:767px) {
    .Footer_COLUMN3 {
        flex: 0 1 100%;
    }
}
.Footer_adress {
    display: flex;
    justify-content: left;
    align-items: center;
}
.Footer_adres1 {
    font-size: 15px;
    font-weight: 600;
    line-height: 160%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
